@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  background-image: var(--background-texture);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

button {
  color: white;
  background-color: var(--layer-1);
  padding: 2px 12px;
  margin-top: 4px;
  border: none;
}
button:hover {
  background-color: #333;
}
button:active {
  background-color: white;
  color: #222;
}
button:disabled {
  color: var(--disabled-text-color);
  background-color: #111;
  cursor: not-allowed;
}

a {
  color: cyan;
}

p, ul {
  margin: 8px 0px;
}
p:first-child { margin-top: 0px; }
p:last-child { margin-bottom: 0px; }
