#app {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#content {
  width: 100vw;
  height: max-content;
  max-width: 396px;
}

#sidebar {
  max-width: 380px;
  height: max-content;
  
  position: sticky;
  top: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 825px) {
  #app {
    flex-direction: column-reverse;
    align-items: center;
  }
  #sidebar {
    position: static;
  }
}
