@import 'layout.css';
@import 'theme.css';
@import 'base.css';
@import 'modules/group.css';
@import 'modules/content-embed.css';
@import 'modules/content-preview.css';
@import 'modules/rubric.css';

/* module: content */
#content {
  background-image: var(--foreground-texture);
  padding: 4px 8px;
}

/* module: disabled */
a.disabled {
  color: darkgray;
  text-decoration: none;
  cursor: no-drop;
}

/* module: download-button */
.download-button {
  padding: 0px 4px;
  border: 1px solid #888;
  transform: translateY(-2px);
}
.download-button > a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

/* module: no-display */
a.no-display {
  color: inherit;
}

/* module: flex-spacer */
.flex-spacer {
  flex-grow: 1;
}

/* module: author-page */
.author-page {
  margin-top: 4px;
  text-align: center;
  font-weight: bold;
}

/* module: search-tag */
.search-tag {
  display: flex;
}
.search-tag > label {
  flex-grow: 1;
}

/* module: sidebar-segment */
.sidebar-segment {
  background-image: var(--foreground-texture);
  padding: 8px;
}

/* module: layer 2 button */
button.layer-2 {
  background-color: var(--layer-2);
}
button.layer-2:disabled {
  background-color: var(--layer-2);
  color: var(--disabled-text-color);
}
button.layer-2:hover {
  background-color: var(--layer-3);
}

/* module: content */
.skin:target, .skin.selected {
  background-color: var(--layer-3);
}

/* module: tiny-anchor */
.tiny-anchor {
  line-height: 10px;
  color: gray;
  font-size: 0.75rem;
}
