html {
  --background-texture: url('../img/wallpaper.png');
  --foreground-texture: url('../img/wallpaper2.png');
  --layer-0: #111;
  --layer-1: #222;
  --layer-2: #333;
  --layer-3: #444;
  --layer-4: #555;
  --text-color: #EEE;
  --disabled-text-color: #AAA;
}
