<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YHF@TETR.IO+</title>
    <script src="js/lib/vue.min.js"></script>
    <script src="js/lib/vue-markdown.js"></script>
    <script src="js/lib/vue-observe-visibility.js"></script>
    <script src="js/lib/jszip.js"></script>
    <script src="js/app.js" type="module"></script>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Block skins and other content for TETR.IO. Over 134 skins from 17 authors">
    <noscript>
      <style>
        .author-group { display: none }
      </style>
    </noscript>
  </head>
  <body>
    <div id="app">
      <div id="content">
        <noscript>
          Whoops, need javascript to load the skins.
          Check out the <a href="content/skins">skins</a> folder if you don't
          want to enable javascript.
        </noscript>
        <group
          v-for="group of groups"
          :key="group.name"
          :group="group"
          :votes="votes"
          :selected="selectedContent"
        />
      </div>
      <div id="sidebar">
        <div class="sidebar-segment">
          Content can be installed using
          <a href="https://gitlab.com/UniQMG/tetrio-plus/wikis">
            TETR.IO PLUS<!--
       --></a>.<br>
          <button
            :disabled="sort != 'author'"
            v-if="allCollapsed"
            @click="uncollapseAll"
            class="layer-2"
          >Expand all</button>
          <button
            :disabled="sort != 'author'"
            v-else @click="collapseAll"
            class="layer-2"
          >Collapse all</button>
          <button
            :disabled="sort != 'author'"
            @click="randomSkin"
            class="layer-2"
          >Random</button>
        </div>
        <div class="sidebar-segment" style="display: flex">
          Sort by
          <div style="margin-left: auto">
            <button
              class="layer-2"
              @click="setSort('author')"
              :disabled="sort == 'author'"
            >Author</button>
            <button
              class="layer-2"
              @click="setSort('votes')"
              :disabled="sort == 'votes'"
            >Active Votes</button>
            <button
              class="layer-2"
              @click="setSort('votes-all')"
              :disabled="sort == 'votes-all'"
            >Votes</button>
            <button
              class="layer-2"
              @click="setSort('date')"
              :disabled="sort == 'date'"
            >Date</button>
          </div>
        </div>
        <div class="sidebar-segment">
          <div class="form-group">
            <label for="query">Search:</label>
            <input name="query" type="text" v-model="search.query">
          </div>

          <div>
            <input name="ao" type="checkbox" v-model="search.showAuthorOnly">
            <label for="ao" @click="search.showAuthorOnly = !search.showAuthorOnly">
              Include author-page only content
            </label>
          </div>

          <h4>Filter categories</h4>
          <div class="search-tags l-inline">
            <div class="search-tag" v-for="category of search.categories">
              <input :name="'tag-'+category.name" type="checkbox" v-model="category.enabled">
              <label :for="'tag-'+category.name" @click="category.enabled = !category.enabled">
                {{ category.name }}
              </label>
            </div>
          </div>

          <h4>Filter tags</h4>
          <div class="search-tags">
            <div class="search-tag" v-for="tag of search.tags">
              <input :name="'tag-'+tag.tag" type="checkbox" v-model="tag.enabled">
              <label :for="'tag-'+tag.tag" @click="tag.enabled = !tag.enabled">
                {{ tag.tag }}
              </label>
            </div>
          </div>
          <button class="layer-2" @click="resetSearch">Clear</button>
        </div>
        <div class="sidebar-segment">
          <p>
            All skins on this site have been posted with the consent of the
            artist. This archive is managed by UniQMG.

            Skins can be submitted on the
            <a id="discord" href="https://discord.gg/Mp4XSbHmAG">TETR.IO PLUS discord server</a>
            or by DMing me directly on discord.
          </p>
          <p>
            Interested in making your own skin? Templates can be found on the
            <a href="https://gitlab.com/UniQMG/tetrio-plus/-/wikis/custom-skins">TETR.IO PLUS wiki</a>.
          </p>
          <p>
            For more skins, check out
            <a href="https://tetrio.team2xh.net/?t=skins">
              Tenchi's gallery
            </a>
          </p>
          <div>
            <a href="submission-guidelines">Submission guidelines and information</a>
          </div>
          <div>
            <a href="/privacy.html" class="tiny-anchor">Site privacy policy</a>
          </div>
        </div>
        <div class="sidebar-segment">
          List of other content<br>
          <a href="data/content/skin">Skins</a><br>
          <a href="data/content/sfx">Sound effects</a><br>
          <a href="feed.rss">RSS feed</a><br>
          <a href="atom.xml">Atom feed</a>
        </div>
      </div>
    </div>
  </body>
</html>
