/* module: content-preview */
.content-preview.sfx {
  max-height: 200px;
  overflow-y: auto;
}
.content-preview.custom > .custom-preview {
  width: 100%;
}
.content-preview.custom:not(.is-selected) > .custom-preview {
  max-height: 160px;
  object-fit: contain;
  object-position: center;
  background: repeating-linear-gradient(
    45deg,
    #333 0px, #333 10px,
    transparent 10px, transparent 20px
  );
}
.content-preview > .badges {
  display: flex;
}
.content-preview > .badges {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 2px;

  scrollbar-width: thin;
  scrollbar-color: var(--layer-3) transparent;
}
.content-preview > .badges::-webkit-scrollbar {
  height: 8px;
}
.content-preview > .badges::-webkit-scrollbar-thumb {
  background-color: var(--layer-3);
}

/* module: content-badge */
.content-badge {
  border-radius: 20px;
  background-color: var(--layer-0);
  font-size: 8pt;
  padding: 3px 6px;
  margin-top: 4px;
  margin-right: -2px;
  text-shadow: 0px 0px 2px currentColor;
  color: lime;
}
.content-badge.neutral {
  color: gray;
  text-shadow: none;
}
.content-badge.bad {
  color: #FF3C00;
}
