/* module: content-embed */
.content-embed {
  padding: 4px 8px;
  margin: 4px;
}
.content-embed > .content-title > .supports-preview {
  color: #00CC00;
  cursor: help;
  font-weight: bold;
  margin-right: 1px;
}
.content-embed.is-selected {
  background-color: var(--layer-4);
}
.content-embed > .content-title {
  display: flex;
  white-space: nowrap;
  gap: 6px;
}
.content-embed > .content-title > .new {
  color: red;
  font-weight: bold;
}
.content-embed > .content-title > .derivative {
  color: red;
  font-weight: bold;
  cursor: help;
}
.content-embed > .content-title > .overflowable-name-wrapper {
  min-width: 0px;
}
.content-embed > .content-title > .overflowable-name-wrapper > .content-name {
  white-space: nowrap;
  font-weight: bold;
  display: block;

  max-width: 100%;
  width: max-content;

  overflow: hidden;
  text-overflow: ellipsis;
  transition: 2s text-shadow;
}
.content-embed > .content-title > .overflowable-name-wrapper > .content-name:hover {
  max-width: unset;
}
.content-embed > .content-description {
  font-family: monospace;
  padding: 4px 6px;
  margin-top: 4px;
  background-color: var(--layer-2);
}
.content-embed > .content-description img {
  max-width: 100%;
}
.content-embed > .content-controls {
  display: flex;
  justify-content: space-around;
}
