@keyframes fade-out {
  0% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes green-fade-out {
  0% { background-color: green; }
  100% { background-color: var(--layer-1); }
}
@keyframes vote-failed {
    0% { transform: translateX(  0px); background-color: red; }
   10% { transform: translateX( 10px); }
   20% { transform: translateX(-10px); }
   30% { transform: translateX(  8px); }
   40% { transform: translateX( -8px); }
   50% { transform: translateX(  6px); }
   60% { transform: translateX( -6px); }
   70% { transform: translateX(  4px); }
   80% { transform: translateX( -4px); }
   90% { transform: translateX(  2px); }
  100% { transform: translateX(  0px); background-color: var(--layer-1); }
}

/* module floating-vote */
.floating-vote.success {
  animation: 2s green-fade-out;
}
.floating-vote.failure {
  animation: 0.25s vote-failed;
}
.floating-vote::after {
  opacity: 0;
  position: absolute;
  width: max-content;
  display: block;
}

.floating-vote.success::after {
  animation: 1s fade-out;
  content: 'Voted';
  color: lime;
  transform: translateX(-30%) translateY(-40px);
}
.floating-vote.failure::after {
  animation: 2s fadeOut;
  content: 'Already voted today';
  color: red;
  transform: translateX(-50%) translateY(-40px);
}
