/* module: group */
.group > .group-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--layer-2);
  margin: 8px 8px 0px 8px;
  padding: 0px 6px;
  cursor: pointer;
}

.group > .group-header > .toggle {
  font-weight: bold;
}
