/* module: rubric */
.rubric > .rubric-section-wrapper {
  max-width: 500px;
  margin-left: 20px;

  --very-positive-color: lime;
  --positive-color: #00DD00;
  --neutral-color: #AAA;
  --connector-color: gray;
  --negative-color: red;
}
.rubric > .rubric-section-wrapper > .rubric-section {
  padding-left: 0px;
}

/* module: rubric-entry */
.rubric-entry {
  display: grid;
  margin-left: 10px;
  grid-template:
    "title score" auto
    "example example" auto /
    1fr auto;
}
.rubric-entry > .rubric-title {
  grid-area: title;
}

.rubric-entry > .rubric-score {
  grid-area: score;
  margin-left: 6px;
}
.rubric-entry > .rubric-score.bonus {
  color: var(--positive-color);
}
.rubric-entry > .rubric-score.bonus.negative {
  color: var(--negative-color);
}
.rubric-entry > .rubric-score.range > .min {
  color: var(--neutral-color);
}
.rubric-entry > .rubric-score.range > .min.negative {
  color: var(--negative-color);
}
.rubric-entry > .rubric-score.range > .min::after {
  content: " to ";
  color: var(--connector-color);
}
.rubric-entry > .rubric-score.range > .max {
  color: var(--positive-color);
}
.rubric-entry > .rubric-score.range > .max.large {
  color: var(--very-positive-color);
}

.rubric-entry > .rubric-example {
  grid-area: example;
  color: var(--connector-color);
  font-size: 0.8rem;
}
